<head>
	<style>
		.form-inline .form-group {
			float: left;
		}
	</style>
</head>

<div class="view-filters form-group" style="display: block;">
	<form class="views-exposed-form bef-exposed-form" data-bef-auto-submit-full-form="" data-drupal-selector="views-exposed-form-blog-block-1" action="/blog" method="get" id="views-exposed-form-blog-block-1" accept-charset="UTF-8" data-drupal-form-fields="edit-category,edit-submit-blog">
		<div class="form--inline form-inline clearfix">
			<div class="form-item js-form-item form-type-select js-form-type-select form-item-category js-form-item-category form-no-label form-group" style="float: left">
				<input type="hidden" name="category" value="All">
				<div data-drupal-selector="edit-category" class="form-select bef-links" id="edit-category" name="category">
					<div></div>
					{% for taxonomy in taxsonomies %}
						<div class="form-group taxonomy-block {% if taxonomy.is_active %}bef-link-active{% endif %}" style="display: block !important">


							<a href="{{ taxonomy.link }}">{{ taxonomy.name }}</a>
						</div>
					{% endfor %}
				</div>
			</div>
			<div data-drupal-selector="edit-actions" class="form-actions form-group js-form-wrapper form-wrapper" id="edit-actions">
				<button data-bef-auto-submit-click="" class="js-hide button js-form-submit form-submit btn-info btn" data-drupal-selector="edit-submit-blog" type="submit" id="edit-submit-blog" value="Apply" name="" style="display: none;">Apply</button>
			</div>

		</div>

	</form>

</div>
